# Build & tooling
dist/
build/
out/
.next/
.nucrt/
.nuxt/
.storybook/
coverage/
.eslintcache
.vscode/
.tmp/
.temp/
.parcel-cache/
.vite/
.turbo/
node_modules/

# Platform-specific
android/
ios/DerivedData/

# Generated assets
assets/splash/

# Legacy ignores
src/terpene_wheel/snippets/
