# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Expo
.expo/
.expo-shared/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment
.env
.env.*
!.env.example

# Firebase logs
firebase-debug.log
firestore-debug.log

# Local database and assets
Terpene_Wheel_Code_Kit.zip
backend/prisma/dev.db
backend/prisma/dev.db-journal

service-account.json
firebase_sa.b64
assets/splash/jars_splash_static.png

# Firebase Android config
apps/android/google-services.json
