rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, update: if request.auth.uid == uid;
      allow create:      if request.auth.uid != null;
    }
    match /events/{id} {
      allow read;
    }
    match /{document=**} {
      allow read: if false;
    }
  }
}
